@(id: Long, editAccountForm: Form[Account])

@import helper._

    @implicitFieldConstructor = @{
        FieldConstructor(twitterBootstrapInput.render)
    }

@main {

    <h1>Edit an account</h1>

    @form(routes.Accounts.update(id)) {

        <fieldset>

            @select(
                editAccountForm("owner"),
                options(Customer.options),
                '_label -> "Owner", '_default -> "-- Choose owner --",
                '_showConstraints -> true
            )

            @inputText(editAccountForm("iban"), '_label -> "IBAN")

            @select(field = editAccountForm("typeOf"),
                options(Account.Type.values().toList.map(_.toString)),
                '_label -> "Type",
                '_default -> "Choose type",
                '_showConstraints -> true
            )


        </fieldset>

        <div class="actions">
            <input type="submit" value="Save this account" class="btn primary"> or
            <a href="@routes.Accounts.list()" class="btn">Cancel</a>
        </div>

    }

    @form(routes.Accounts.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this account" class="btn danger">
    }
}