@(createAccountForm: Form[Account])

@import helper._

    @implicitFieldConstructor = @{
        FieldConstructor(twitterBootstrapInput.render)
    }

@main {

    <h1>Create an account</h1>

    @form(routes.Accounts.save()) {

        <fieldset>

            @select(
                createAccountForm("owner"),
                options(Customer.options),
                '_label -> "Owner", '_default -> "-- Choose owner --",
                '_showConstraints -> true
            )

            @inputText(createAccountForm("iban"), '_label -> "IBAN")

            @select(field = createAccountForm("typeOf"),
                options(Account.Type.values().toList.map(_.toString)),
                '_label -> "Type",
                '_default -> "Choose type",
                '_showConstraints -> true
            )


        </fieldset>

        <div class="actions">
            <input type="submit" value="Create this account" class="btn primary"> or
            <a href="@routes.Accounts.list()" class="btn">Cancel</a>
        </div>

    }
}