@(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>Banking Application - SOC1</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"> 
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")"> 
    </head>
    <body>
        
        <header class="topbar">
            <h1 class="fill">
                <a href="@routes.Application.index()">
<!--                     Play 2.0 sample application &mdash; Computer database -->
						BankingApplication &mdash; Service-oriented Computing 1 (SOC1)
                </a>
            </h1>
        </header>
        
        <section id="main">
            @content
            <footer align="center"> 
            	Based on the Play Sample Application "Computer Database". <br> 
            	Created by Bugra Derre and Robin Fischer.
            </footer>
        </section>
        
        
    
    </body>
</html>

